# For LAN use, set BIND_ADDRESS to your server's LAN IP and PUBLIC_HOST to IP:PORT.
BIND_ADDRESS=127.0.0.1
PORT=8000
PUBLIC_HOST=localhost:8000
SOURCE_HOST=streamingcommunityz.pictures
TZ=Europe/Rome
PUID=1000
PGID=1000
STATE_DIRECTORY=./state
DOWNLOAD_DIRECTORY=./downloads
